<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>OnlStudMgmt</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.student.ams.action.LoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>com.student.ams.action.LogoutAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>processAction</servlet-name>
		<servlet-class>com.student.ams.action.ProcessAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>processAction</servlet-name>
		<url-pattern>/processAction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>viewExpense</servlet-name>
		<servlet-class>com.student.ams.action.ViewExpenseAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewExpense</servlet-name>
		<url-pattern>/viewExpense</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addExpense</servlet-name>
		<servlet-class>com.student.ams.action.AddExpenseAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addExpense</servlet-name>
		<url-pattern>/addExpense</url-pattern>
	</servlet-mapping>
	
	
</web-app>
